/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.al {
    text-align: justify;
    width: 80%;
}

.one {
    display: inline-block;
}

.one a:hover {
    color: #7030a0 !important;
}

.one a {
    color: #D1C4E9;
}

.sizing img {
    height: 300pt;
    object-fit: cover;

}

.cont-size {
    width: 90%;
}

nav.navbar.shrink {
    padding: 0 0 !important;
}

nav.navbar.shrink {
    min-height: 20px;
}

nav {
    /*height: 100px;*/
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.border-bottom-purple {
    border-bottom: solid 2pt;
    border-bottom-color: #7030a0;
}

/* the team */

.avatar-img {
    border-radius: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 15rem;
    width: 15rem;

}

.avatar-img img {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    align-items: center;
    bottom: 0;
    left: 0;
    display: flex;
    padding: inherit;
    justify-content: center;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.25s;
    z-index: 1;
    background-color: rgba(112, 48, 160, 0.8);
    color: #fafafa;
    font-size: 24px;
}

.overlay:hover {
    opacity: 1;
}

.avatar-text {
    padding-top: 1rem;
}

/* partners */
.flip {
    -webkit-perspective: 800px;
    perspective: 800px;
    position: relative;
    text-align: center;
}

.heightwidth {
    max-height: 15rem !important;
    min-height: 15rem !important;
    height: 100% !important;
    width: 100% !important;
    display: inline-block;
}

.flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}

.flip .card {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;

}

.flip .card .face {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;

}

.flip .card .front {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.flip .card .back {
    /*padding-top: 2%;*/
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background-color: white;
    height: 100%;
}

.inner {
    margin: 0 !important;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.card-body {
    position: inherit !important;
    text-align: center;
    height: 50%;
    width: inherit !important;
    overflow: hidden;
    vertical-align: middle;
}

.card-body img {
    max-height: 100% !important;
    height: auto;
    position: inherit;
    width: auto !important;
    display: inline-block;
}
.click-btn{
    color: white!important;
}

/* ------------------------ */

/* projects */
@media screen and (min-width: 500px) {
    .boxes {
        display: flex;
        flex-direction: row-reverse;
    }
}

/* ------------------------- */

/*footer ----------------- */
.logo-btn-color.fb {
    color: #caccce;
}

.logo-btn-color.fb:hover {
    color: #3b5998;
}

.logo-btn-color.ln {
    color: #caccce;
}

.logo-btn-color.ln:hover {
    color: #0077b5;
}

.user i:hover {
    color: #dd5143;
}

.half {
    text-align: justify;
}

.bg-company-color {
    background-color: #7030a0;
    color: #D1C4E9;
}

.bg-pattern {
    background-image: url('../img/circles.png')
}

.marg {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
}

.rounded-image {
    width: 15rem !important;
    height: 15rem !important;

}

.rounded-image img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}

.hover-whitening:hover {
    color: white;
}
.copyright{
    display: block;
    width: 100%;
}

/* about us section */
.background-pic {
    background-image: url(../img/notebook-dark.png) !important;
    opacity: 1;
    padding-bottom: 1rem;
}

.about-us-text {
    background: transparent !important;
    opacity: 1 !important;
}

/* ---------------------- */
.link-text-size {
    font-size: 12pt;
}

.lang-1 {
    display: inline-block;
    float: left;
}

.lang-2 {
    display: inline-block;
}

.lang-3 {
    display: inline-block;
}

/* Top header */
header {
    width: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;
    /*padding: 10pt 1% 5pt 1%;*/
}

.headerContents {
    margin-right: 5%;
    margin-left: 5%;
}

/*Left side*/

.headerLogo img {
    float: left;
    /*width: 120pt;*/
    height: 50pt;
    display: inline-block;
    margin-left: 10pt;
}

.headerLogo img.shrink {
    height: 25px;
}

/*Right side*/
.headerRight {
    margin-right: 5pt;
    float: right;
    margin-top: 14pt;
}

.headerRight a {
    color: white !important;
    background-color: rgba(112, 48, 160, 0.86);
    text-align: center;
    padding: 14px 16px;
    margin-left: 3pt;
    margin-right: 3pt;
    text-decoration: none !important;
    font-size: 14pt;
    border-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
}

.headerRight a:hover {
    background-color: rgba(112, 48, 160, 1);
}

.link-size {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
}

/*nav-margin{*/
/*margin: 10pt 0;*/
/*}*/

/* Main body */
.bodyWrap {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15pt;
    position: relative;

}

.mainPageText {
    font-size: 20pt;
    padding: 0.01rem 2rem !important;
    background-color: inherit;
    text-align: center !important;
    position: relative;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

/*Two columns with projects*/
.twoProjects {
    margin-top: 30pt !important;
    width: 100%;
}

.projectBox {
    float: left;
    width: 49.4%;
    height: 200pt;
    padding: 3% 3% !important;
    background-color: rgba(2, 32, 104, 0.86);
    border-radius: 25px;
    border: none;
}

.projectBox:hover {
    background-color: rgba(2, 32, 104, 1);
}

.projectBox a {
    font-size: 18pt;
    text-decoration: underline;
    color: white;
    padding: 5pt !important;

    /*-webkit-transition: font-size 1s;*/
    /*transition: font-size 1s;*/
    font-family: 'Ubuntu', sans-serif;
}

.projectBox a:hover {
    animation-name: linkIncrease;
    animation-duration: 1s;
    animation-timing-function: linear;
    /*font-size: 20pt;*/
    color: white;
}

@keyframes linkIncrease {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

.projectText {
    text-align: justify !important;
}

.rounded-2 {
    border-radius: 1rem !important
}

.mx-6 {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
}

.btn-purple {
    color: white !important;
    background-color: rgba(112, 48, 160, 0.8);
}

.projectBox div {
    margin-top: 15pt !important;
    text-align: justify;
    color: white;
    font-size: 12pt;
}

.projectBox.left {
    margin-right: 5pt;
    text-align: center;
}

.projectBox.right {
    margin-left: 5pt;
    text-align: center;
}

.twoProjects:after {
    content: "";
    display: table;
    clear: both;
}

/* Mission box */
.mission {
    position: absolute;
    margin: 0;
    margin-top: 30pt;
    left: 0;
    right: 0;
}

.missionImage {
    float: left;
    width: 33.33%;
    height: 200pt;
}

.missionImage.a {
    background-image: url(../img/dementia_patient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.missionImage.b {
    background-image: url(../img/downs_syndrome.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.missionImage.c {
    background-image: url(../img/doctor_image.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

/* Clear floats after the columns */
.mission:after {
    content: "";
    display: table;
    clear: both;
}

/* MISC */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.img-card {
    padding: 15px;
    max-height: 70%;
    max-width: 70%;
}
